<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<style type="text/css">
			.mui-content {
				overflow: scroll;
			}
			
			.mui-table-view .mui-media-object {
				line-height: 40px;
				max-width: 80px;
				height: 110px;
			}
			
			a:active {
				color: #000000;
			}
		</style>
	</head>

	<body>
		<div id="pullrefresh" class="mui-scroll-wrapper mui-content">
			<div class="mui-scroll discover-section">
				<ul class="mui-table-view" id="scroll_list">

					<!--<li class="mui-table-view-cell mui-media" v-for="book in list">
						<div class="mui-slider-handle">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" :src="book.images.large">
								<div class="mui-media-body">
									<div class="book-title mui-ellipsis-2">{{book.title}}</div>
									<p>评分：{{book.rating.average}}</p>
									<p class="mui-ellipsis-2"><span v-for="auth in book.author">{{auth}} </span> / {{book.pubdate}} / {{book.publisher}}</p>
								</div>
							</a>
						</div>

					</li>-->

				</ul>
			</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script src="js/public.js"></script>
		<script>
//			mui.plusReady(function() {
				
			
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			
			openBookDetail();

			var pageIndex = 1;
			var upRefreshFlag = true;//上拉加载标志位。为true则执行刷新
			var searchValue = "";
			
			window.addEventListener('searchBooks', function(event) {
				
				document.getElementById("scroll_list").innerHTML = "";
				pageIndex = 1;
				upRefreshFlag = true;
				searchValue = event.detail.searchValue;
				
				console.log(searchValue);
				
				if(mui.os.plus) {
					mui.plusReady(function() {
						setTimeout(function() {
							mui('#pullrefresh').pullRefresh().pullupLoading();
						}, 300);
					});
				} else {
					mui.ready(function() {
						mui('#pullrefresh').pullRefresh().pullupLoading();
					});
				}
			});

			function callback(list) {
				var itemStr = "";
				list.forEach(function(item) {
					itemStr += '<li class="mui-table-view-cell mui-media book-detail" data-key="' + item.isbn + '" >'+
							'<div class="mui-slider-handle">'+
								'<a href="javascript:;">'+
									'<img alt="暂无图片" class="mui-media-object mui-pull-left" src="'+item.images.large+'">'+
									'<div class="mui-media-body">'+
										'<div class="book-title mui-ellipsis-2">'+item.title+'</div>'+
										'<p>评分：'+item.rating+'</p>'+
							            '<p class="mui-ellipsis-2">'+ item.author +' / '+ item.pubdate +' / '+ item.publisher +'</p>'+
									'</div>'+
								'</a>'+
							'</div>'+

						'</li>';
				});

				document.getElementById("scroll_list").innerHTML += itemStr;
			}

			function pullupRefresh() {
				setTimeout(function() {
					if(upRefreshFlag) {
						getListByCallindex(api.bookSearch, pageIndex, callback);
					}
				}, 300);
			}

			function getListByCallindex(url, pageNo, callback) {
				mui.ajax({
					url: url,
					type: 'get',
					dataType: 'json',
					data: {
						keyWord : searchValue,
						pageIndex : pageNo
					},
					success: function(data) {
						console.log(data)
						if(data.errorCode != 0) {
							mui.alert(data.errorMsg, "出错啦...");
							return;
						}
						if(callback instanceof Function) {
							//当数据少于10条时，结束上拉加载
							if(data.data.length < 10){
								upRefreshFlag = false;
							}
							callback(data.data);
							pageIndex++;
						}
					},
					error: function(err) {
						mui.toast("访问出错啦")
					},
					beforeSend: function() {},
					complete: function() {
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(!upRefreshFlag);
					}
				})
			}

//	})
		</script>
	</body>

</html>